body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  .board-row {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square,
  .square-highlight
  {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  .column-header {
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    text-align: center;
    width: 120px;
    letter-spacing: 12px;
    padding-bottom: 3px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  .bold-button {
    font-weight: bold;
  }
  .square-highlight {
    background: rgb(199, 11, 11);
  }
  
  